body{
  background-color: grey;
}
.home .fa-cog{
  position: absolute;
  font-size: 30rem;
  opacity: .15;
  color:#fff;
  animation: rotate 10s linear infinite;
}

.home .nut1{
  top:10%; left: -15rem;
}

.home .nut2{
  bottom:23%; right: -13rem;
  animation-direction: reverse;
}

@keyframes rotate{
  100%{
    transform: rotate(360deg);
  }
}